.mainbox{
display:flex;
flex-direction: row;
justify-content: center;
}
.left_box{
width:500px;
height:500px;
}
.right_box{
    width:600px;
    height:900px;
    padding:0px 0px 0px 20px;
}
h4{
font-weight: 300;
margin: -2%;
}
#rating{
    margin-left:9px;
    width:30px;
}
.actual_rate{
 font-size: 15px;
 text-decoration: line-through;
 margin-left: 80px;
 margin-top: -21px;
 font-weight: 300;
}
.off{
 font-size: 15px;
 margin-left: 135px;
 margin-top: -20.5px;
 font-weight: 300;
 color: rgb(7, 168, 42);
}
.inclusive{
font-size: small;
}
.shipping_box{
    color:black;
    background-color: rgb(233, 225, 216);
    border-style: dotted;
}
#delivery_pin{
    width:300px;
    height:30px;
    margin: 1%;
}
.check{
    background-color: transparent;
    color: rgb(8, 188, 243);
    border-style: solid;
    border-color: transparent;
}
#messege{
    font-size: small;
    color:red;
}
.desc{
    margin-left: 30px;
    margin-top: -20px;
}
summary{
    font-size: 14px;
    font-weight: 500;
}
.p_desc{
    font-size: 12px;
    padding-top: 3px;
}
.order_button{
    width:180px;
    height: 28px;
    background-color: #ff3d00;
    color:white;
}
.add_bag{
    width: 180px;
    height: 28px;
    background-color: #171c24;
    color: white;
}
@media (max-width: 450px){
    .mainbox{
        display: flex;
        flex-direction: column;
    }
    .order_page_image{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 35px;
    }
    .left_box{
        width:auto;

    }
    .right_box{
        width:auto;
    }
}
